<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${roleTitleNamePersianHeader}"></title>
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >

</head>
<body  class="text-center  p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<table class="table table-dark ">
    <thead>
    <tr>
        <th colspan="1">عملیات</th>
        <th>نام خانوادگی</th>
        <th>نام</th>
        <th>کد ملی</th>
        <th>نام کاربری</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "accountItem : ${accountsToAdd}">
        <td>
            <form action="#" th:action="@{/admin/addMemberToCourse/__${course.getId()}__}" method="post">
            <input type="hidden" th:name="accountId" th:value="${accountItem.id}">
            <input type="hidden" th:name="roleTitleName" th:value="${roleTitleName}">
            <input class="btn btn-light" type="submit" value="افزودن به دوره" th:disabled="${roleTitleName=='TEACHER' && course.teacher!=null}">
            </form>
        </td>
        <td th:text = "${accountItem.personalInfo.lastName}"></td>
        <td th:text = "${accountItem.personalInfo.firstName}"></td>
        <td th:text = "${accountItem.personalInfo.nationalCode}"></td>
        <td th:text = "${accountItem.username}"></td>
    </tr>
    </tbody>
</table>

<div class="row text-center justify-content-center">
    <form class="m-2" th:action="@{/menu}"><input class="btn btn-dark" type="submit" value="بازگشت به منوی اصلی"></form>
    <form class="m-2" th:action="@{/admin/addCourse}"><input class="btn btn-dark" type="submit" value="بازگشت به لیست دوره ها"></form>
    <form class="m-2" th:action="@{/admin/courseMembers/__${course.getId()}__}"><input class="btn btn-dark" type="submit" value="بازگشت به اعضای دوره"></form>
    <form class="m-2" th:action="@{/signOut}"><input class="btn btn-dark" type="submit" value="خروج از حساب کاربری"></form>
</div></div>

</body>
</html>