<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>تعریف حساب کاربری</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
</head>
<body class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">
<div>
    <h1>تعریف حساب کاربری</h1>
    <form  action="#" th:action="@{/account/define}" method="post">

        <p>اطلاعات شخصی</p>
        <p hidden="hidden"><input type="text" th:field="*{account.personalInfo.id}"/></p>
        <p ><input class="text-center" type="text" th:field="*{account.personalInfo.nationalCode}" placeholder="کد ملی"/></p>
        <p ><input class="text-center" type="text" th:field="*{account.personalInfo.firstName}" placeholder="نام"/></p>
        <p ><input class="text-center" type="text" th:field="*{account.personalInfo.lastName}" placeholder="نام خانوادگی"/></p>
        <p ><input class="text-center" type="text" th:field="*{account.personalInfo.mobileNumber}" placeholder="تلفن همراه"/></p>
        <p ><input class="text-center" type="text" th:field="*{account.personalInfo.email}" placeholder="پست الکترونیک"/></p>

        <p>اطلاعات حساب کاربری</p>
        <p hidden="hidden"><input type="text" th:field="*{account.id}"/></p>
        <p ><input class="text-center" type="text" th:field="*{account.username}" placeholder="نام کاربری"/></p>
        <p ><input class="text-center" type="text" th:field="*{account.password}" placeholder="رمز عبور"/></p>

        <p>نقش</p>
        <p>
            <select th:field="*{accountPrimaryRole.title}">
                <option th:each="role:${allRoles}" th:value="${role.title}" th:text="${role.title}"></option>
            </select>
        </p>
        <p>
            <input class="btn btn-dark" type="submit" value="تایید" th:name="ok"/>
            <input class="btn btn-dark" type="submit" value="لغو" th:name="cancel"/>
        </p>
    </form>


    <form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form>
</div>
</body>
</html>
