<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>آزمونهای این دوره</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Alireza">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >
</head>
<body  class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<div>
    <h1>آزمونهای این دوره</h1>

    <form class="m-3" action="#" th:action="@{/course/__${courseId}__/addQuiz}" method="post">
        <p hidden="hidden"><input type="text" th:field="*{quiz.id}"/></p>
        <p hidden="hidden"><input type="text" th:field="*{quiz.creatorTeacherId}"/></p>
        <div class="border border-light p-1 m-1 mb-3 row  w-auto justify-content-center  rounded" style="direction: rtl">
            <input class="text-center rounded m-2" type="text" th:field="*{quiz.title}" placeholder="عنوان آزمون"/>
            <input class="text-center rounded m-2" type="text" th:field="*{quiz.description}" placeholder="توضیحات آزمون"/>
            <input class="text-center rounded m-2" type="number" th:field="*{quiz.time}" placeholder="زمان آزمون به دقیقه"/>
            <input class="btn btn-dark m-2" type="submit" value="ثبت" th:name="ok"/>
        </div>
    </form>

    <div class="row text-center justify-content-center">

        <form class="m-2" th:action="@{/course/__${courseId}__/quizzes}">
            <input class="btn btn-dark" type="submit" value="همه آزمونها">
        </form>

        <form class="m-2" th:action="@{/course/__${courseId}__/myQuizzes}">
            <input class="btn btn-dark" type="submit" value="آزمونهای من">
        </form>

    </div>

    <p th:if="${param.trueChoiceNotExistError}" class="text-danger">خطا در فعالسازی آزمون! عدم وجود گزینه صحیح در سوال تستی</p>
    <p th:if="${param.zeroDefaultScoreError}" class="text-danger">خطا در فعالسازی آزمون! نمره پیش فرض صفر</p>
    <p th:if="${param.blankQuizError}" class="text-danger">خطا در فعالسازی آزمون! سوالی برای آزمون مورد نظر تعریف نشده است</p>
<!--todo message for invalid quiz definition-->


    <div class="m-3 rounded" th:hidden="${courseQuizzes.size()==0}">
        <table class="table table-dark" th:hidden="${courseQuizzes.size()==0}">
            <thead>
            <th colspan="6">عملیات</th>
            <th>زمان آزمون (دقیقه)</th>
            <th>توضیحات آزمون</th>
            <th>عنوان آزمون</th>
            <th>شناسه یکتای آزمون</th>
            </thead>
            <tbody>
            <tr th:each="quizItem:${courseQuizzes}" th:bgcolor="${quizItem.isActive==true?'28a745':'343a40'}">

                <td>
                    <form th:action="@{/course/__${courseId}__/deleteQuiz/__${quizItem.id}__}">
                        <input hidden class="btn btn-danger" th:id="${quizItem.id}" type="submit" value="تایید حذف" >
                    </form>
                </td>

                <td>
                    <button th:disabled="${quizItem.creatorTeacherId != currentTeacherAccount.id}"
                            class="btn btn-light"  th:onclick="|delConfirm(${quizItem.id})|">
                        حذف
                    </button>
                </td>


                <td>
                    <form th:action="@{/quiz/__${quizItem.id}__/participants}">
                        <input class="btn btn-light" type="submit" value="شرکت کنندگان-تصحیح" >
                    </form>
                </td>

                <td>
                    <form th:action="@{/course/__${courseId}__/quiz/__${quizItem.id}__/activation}">
                        <input class="btn btn-light" type="submit"
                               th:value="${quizItem.isActive==true?'غیرفعال کردن':'فعال کردن'}" >
                    </form>
                </td>

                <td>
                    <form th:action="@{/course/__${courseId}__/editQuiz/__${quizItem.id}__}">
                        <input th:disabled="${quizItem.creatorTeacherId != currentTeacherAccount.id}"
                               class="btn btn-light" type="submit" th:value="ویرایش">
                    </form>
                </td>

                <td>
                    <form th:action="@{/quiz/__${quizItem.id}__/questions}">
                        <input class="btn btn-light" type="submit" th:value="سوالات" >
                    </form>
                </td>


                <td th:text="${quizItem.time}"></td>
                <td th:text="${quizItem.description}"></td>
                <td th:text="${quizItem.title}"></td>
                <td th:text="${quizItem.id}"></td>

            </tr>
            </tbody>
        </table>

    </div>

    <div class="row text-center justify-content-center">

        <form class="m-2" th:action="@{/teacher/courses}">
            <input class="btn btn-dark" type="submit" value="بازگشت به لیست دوره ها">
        </form>

        <form class="m-2" th:action="@{/menu}">
            <input class="btn btn-dark" type="submit" value="بازگشت به منوی اصلی">
        </form>

        <form class="m-2" th:action="@{/signOut}">
            <input class="btn btn-dark" type="submit" value="خروج از حساب کاربری">
        </form>

    </div>

</div>

<script>
    function delConfirm(id) {
        if (document.getElementById(id).hidden == false)
            document.getElementById(id).hidden = true;
        else
            document.getElementById(id).hidden = false;
    }
</script>

</body>
</html>