<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>نتایج آزمون</title>
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >

</head>
<body  class="row text-center  p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'" >
<div>


<div th:if="${T(ir.maktab.arf.quiz.utilities.QuestionTools).getQuestionType(questionItem).name().equals('DetailedQuestion')}">
    <form th:action="@{/quiz}" method="post">
        <div class="border border-dark m-4 p-4 rounded font-weight-bolder text-center justify-content-center" style="direction: rtl">
            <label >عنوان سوال: </label>
            <label th:text="${questionItem.title}" ></label>
            <br>
            <label>صورت سوال: </label>
            <label th:text="${questionItem.definition}"></label>
            <br>

            <label>پاسخ دانشجو: </label>
            <label th:text="${(answerItem == null || answerItem.content.isEmpty())?('بدون پاسخ'):answerItem.content}"></label>
            <br>

        </div>
    </form>

</div>

<div th:if="${T(ir.maktab.arf.quiz.utilities.QuestionTools).getQuestionType(questionItem).name().equals('MultiChoiceQuestion')}">
    <form th:action="@{/quiz}" method="post">
        <div class="border border-dark rounded m-4 p-4 font-weight-bolder text-center justify-content-center" style="direction: rtl">
            <label>عنوان سوال: </label>
            <label th:text="${questionItem.title}"></label>
            <br>
            <label>صورت سوال: </label>
            <label th:text="${questionItem.definition}"></label>
            <br>
            <div class="justify-content-around" style="direction: rtl">
                <input type="checkbox" class="form-check form-check-inline radioCheck" disabled th:each="choiceItem:${questionItem.choiceList}" th:text="${!choiceItem.isTrueChoice?choiceItem.title:choiceItem.title+'(صحیح)'}" th:checked="${answerItem != null && choiceItem.title==answerItem.content}">
            </div>

        </div>
    </form>
</div>

    <div class=" text-center justify-content-center" style="direction: rtl">
        <form class="m-2" th:action="@{/quiz/__${quizId}__/participant/__${studentId}__/question/__${questionNumberInQuiz}__/submitScore}" method="post">
            <label class="font-weight-bold" th:text="${('نمره پیش فرض: ') + gradingDto.defaultScoreForQuestion}"></label>
            <br>
            <input hidden type="text" th:field="*{gradingDto.defaultScoreForQuestion}" >

            <label class="font-weight-bold" th:text="${('نمره کسب شده: ') + gradingDto.participantScoreForQuestion}" th:hidden="${quizOperation.isCustomGraded != true && T(ir.maktab.arf.quiz.utilities.QuestionTools).getQuestionType(questionItem).name().equals('DetailedQuestion') && answerItem != null && !answerItem.content.isEmpty()}"></label><br>
            <p th:if="${param.invalidScoreError}" class="text-danger">نمره وارد شده بزرگتر از نمره پیش فرض سوال است</p>

            <input class="text-center rounded m-2" placeholder="نمره کسب شده" th:disabled="${quizOperation.isCustomGraded==true}" th:hidden="${quizOperation.isCustomGraded==true || T(ir.maktab.arf.quiz.utilities.QuestionTools).getQuestionType(questionItem).name().equals('MultiChoiceQuestion') || (T(ir.maktab.arf.quiz.utilities.QuestionTools).getQuestionType(questionItem).name().equals('DetailedQuestion') && (answerItem == null || answerItem.content.isEmpty()))}" type="text" th:field="*{gradingDto.participantScoreForQuestion}"><br>

            <input th:hidden="${quizOperation.isCustomGraded==true}" class="btn btn-dark" type="submit"
            th:value="${questionNumberInQuiz==questionsCount?'ثبت نمره':'ثبت نمره و رفتن به سوال بعدی'}">
        </form>

        <div class="row text-center justify-content-center">
            <form class="m-2" th:action="@{/quiz/__${quizId}__/participant/__${studentId}__/answers/__${questionNumberInQuiz - 1}__}"><input th:disabled="${questionNumberInQuiz == 1}" class="btn btn-dark" type="submit" value="سوال قبلی"></form>
            <form class="m-2"  th:action="@{/quiz/__${quizId}__/participant/__${studentId}__/answers/__${questionNumberInQuiz + 1}__}"><input th:disabled="${questionNumberInQuiz == questionsCount}" class="btn btn-dark" type="submit" value="سوال بعدی"></form>
        </div>
    </div>

    <div class="row text-center justify-content-center m-5" th:with="stringRolesOfSingedInUser=${T(ir.maktab.arf.quiz.utilities.ServiceTools).accountService.getStringTitlesOfRolesOfSignedInAccount()}">
        <form th:if="${stringRolesOfSingedInUser.contains('TEACHER')}" class="m-2" th:action="@{/quiz/__${quizId}__/participants}"><input class="btn btn-dark" type="submit" value="بازگشت به لیست شرکت کنندگان آزمون"></form>
        <form th:if="${stringRolesOfSingedInUser.contains('TEACHER')}" class="m-2" th:action="@{/course/__${courseId}__/quizzes}"><input class="btn btn-dark" type="submit" value="بازگشت به لیست آزمون های دوره"></form>
        <form th:if="${stringRolesOfSingedInUser.contains('STUDENT')}" class="m-2" th:action="@{/student/__${studentId}__/course/__${courseId}__/quizzes}"><input class="btn btn-dark" type="submit" value="بازگشت به لیست آزمون های دوره"></form>
        <form class="m-2" th:action="@{/menu}"><input class="btn btn-dark" type="submit" value="بازگشت به منوی اصلی"></form>
        <form class="m-2" th:action="@{/signOut}"><input class="btn btn-dark" type="submit" value="خروج از حساب کاربری"></form>
    </div>


</div>
</body>
</html>