<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>سوالات این آزمون</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >
</head>
<body  class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<div>
    <h1>سوالات این آزمون</h1>



    <div class="border border-light p-1 rounded">
        <h2 class="text-white">افزودن سوال</h2>
        <div class="row  w-auto justify-content-center  rounded" style="direction: rtl">
            <form th:action="@{/quiz/__${quizId}__/addQuestion/fromBank}">
                <input class="btn btn-dark m-2" type="submit" value="انتخاب از بانک سوال">
            </form>

            <form class="m-1" action="#" th:each="questionTypeItem:${questionTypes}" th:action="@{/quiz/__${quizId}__/addQuestion/__${questionTypeItem.name()}__}" >
                <input class="btn btn-dark m-2" type="submit" th:value="${questionTypeItem.getPersian()}" />
            </form>

        </div>
    </div>



    <form th:action="@{/quiz/__${quizId}__/saveQuizDefaultScores}">

    <div class="m-3 rounded" th:hidden="${questions.size()==0}">
        <table class="table table-dark" th:hidden="${questions.size()==0}">
            <thead>
            <th colspan="5">عملیات</th>
            <th>عنوان سوال</th>
            <th>نوع سوال</th>
            <th>شماره سوال</th>
            </thead>
            <tbody>
            <tr th:each="questionItem:${questions}">


                <td>
                    <input class="text-center rounded m-2" type="text" th:field="*{scoresDto.scores[__${questionItemStat.index}__].value}" placeholder="بارم"/>
                </td>

<!--                <td>-->
<!--                    <form th:action="@{/quiz/__${quizId}__/question/__${questionItem.id}__/delete}">-->
<!--                        <input hidden class="btn btn-danger" th:id="${questionItem.id}" type="submit" value="تایید حذف" >-->
<!--                    </form>-->
<!--                </td>-->
                <td>
                    <a hidden th:href="@{/quiz/__${quizId}__/question/__${questionItem.id}__/delete}" th:id="${questionItem.id}" class="btn btn-danger">تایید حذف</a>
                </td>


                <td><button class="btn btn-light"  th:onclick="|delConfirm(${questionItem.id})|">حذف</button></td>

<!--                <td>-->
<!--                    <form th:action="@{/quiz/__${quizId}__/question/__${questionItem.id}__/edit}">-->
<!--                        <input class="btn btn-light" type="submit" th:value="ویرایش" >-->
<!--                    </form>-->
<!--                </td>-->
                <td>
                    <a hidden th:href="@{/quiz/__${quizId}__/question/__${questionItem.id}__/edit}" class="btn btn-light">ویرایش</a>
                </td>


<!--                <td>-->
<!--                    <form th:action="@{/quiz/__${quizId}__/question/__${questionItem.id}__/view}">-->
<!--                        <input class="btn btn-light" type="submit" th:value="مشاهده" >-->
<!--                    </form>-->
<!--                </td>-->
                <td>
                    <a hidden th:href="@{/quiz/__${quizId}__/question/__${questionItem.id}__/view}" class="btn btn-light">مشاهده</a>
                </td>


                <td th:text="${questionItem.title}"></td>
                <td th:text="${T(ir.maktab.arf.quiz.utilities.QuestionTools).getQuestionType(questionItem).getPersian()}"></td>
                <td th:text="${questionItemStat.index + 1}"></td>

            </tr>
            </tbody>
        </table>

    </div>

        <input type="submit" value="ذخیره بارم ها">
    </form>

    <div class="row text-center justify-content-center">
        <form class="m-2" th:action="@{/menu}"><input class="btn btn-dark" type="submit" value="بازگشت به منوی اصلی"></form>
        <form class="m-2" th:action="@{/signOut}"><input class="btn btn-dark" type="submit" value="خروج از حساب کاربری"></form>
    </div>

</div>

<script>
    function delConfirm(id) {
        if (document.getElementById(id).hidden == false)
            document.getElementById(id).hidden = true;
        else
            document.getElementById(id).hidden = false;
    }
</script>

</body>
</html>