<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>ورود</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
</head>
<body class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">
<div>
    <h1>ورود</h1>
    <form  action="#" th:action="@{/signIn}" method="post">


        <p ><input class="text-center" type="text" name="username" placeholder="نام کاربری"/></p>
        <p ><input class="text-center" type="password" name="password" placeholder="رمز عبور"/></p>

        <div th:if="${param.error}">
            <div class="alert alert-danger">
                اطلاعات کاربری نامعتبر است
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info">
                شما از سامانه خارج شده اید
            </div>
        </div>

        <p>
            <input class="btn btn-dark" type="submit" value="تایید" th:name="ok"/>
            <input class="btn btn-dark" type="submit" value="لغو" th:name="cancel"/>
        </p>
    </form>


    <form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form>
</div>
</body>
</html>
