<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>ورود</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
</head>
<body class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">
<div>
    <h1>ورود</h1>
    <form  action="#" th:action="@{/signIn}" method="post">


        <p ><input class="text-center rounded" type="text" name="username" placeholder="نام کاربری"/></p>
        <p ><input class="text-center rounded" type="password" name="password" placeholder="رمز عبور"/></p>

        <p th:if="${param.error}" class="text-danger">اطلاعات کاربری نامعتبر است</p>

        <p>
            <input class="btn btn-dark" type="submit" value="تایید"/>
        </p>
    </form>

    <p><form th:action="@{/signUp}"><input class="btn btn-dark" type="submit" value="ثبت نام"></form></p>

    <form th:action="@{/}"><input class="btn btn-dark" type="submit" value="بازگشت به صفحه اصلی"></form>
</div>
</body>
</html>
