<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>دوره های شما</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" >
</head>
<body  class="text-center row p-5 justify-content-center align-content-center bg-info" style="font-family: 'B Mitra'">

<div>
    <h1>دوره های شما</h1>


    <div class="m-3 rounded" th:hidden="${studentCourses.size()==0}">
        <table class="table table-dark" th:hidden="${studentCourses.size()==0}">
            <thead>
            <th colspan="1">عملیات</th>
            <th>تاریخ اتمام</th>
            <th>تاریخ شروع</th>
            <th>عنوان دوره</th>
            <th>شناسه یکتای دوره</th>
            </thead>
            <tbody>
            <tr th:each="courseItem:${studentCourses}">

                <td>
                    <form th:action="@{/student/__${currentStudent.id}__/course/__${courseItem.id}__/quizzes}">
                        <input class="btn btn-light" type="submit" th:value="آزمونها" >
                    </form>
                </td>

                <td th:text="${courseItem.finishDate.toString().substring(0,10)}"></td>
                <td th:text="${courseItem.startDate.toString().substring(0,10)}"></td>
                <td th:text="${courseItem.title}"></td>
                <td th:text="${courseItem.id}"></td>

            </tr>
            </tbody>
        </table>

    </div>

    <div class="row text-center justify-content-center">
        <form class="m-2" th:action="@{/menu}"><input class="btn btn-dark" type="submit" value="بازگشت به منوی اصلی"></form>
        <form class="m-2" th:action="@{/signOut}"><input class="btn btn-dark" type="submit" value="خروج از حساب کاربری"></form>
    </div>

</div>

</body>
</html>